<h1 class = "text-center">
  <%= link_to "<", root_path(date: @date.prev_month), class: "arrow" %>
  <%= @date.strftime('%B %Y')%>  
  <%= link_to ">", root_path(date: @date.next_month), class: "arrow" %>
</h1>

<div  class = "calender">
  <table>
    <!-- Generate Week Days -->
    <tr class = "weekdays">
      <% @week_days.each do |day| %>
        <th><%= day %></th>
      <% end %>
    <tr>

    <!-- Generate Days -->
    <% @weeks.each do |week| %>
      <tr class = "days">
      <% week.each do |day| %>
        <%= td_for(day) %>
      <% end %>
      </tr>
    <% end %>
  </table>
</tr>
